/*
----------------- PÄÄTYYLIT ---------------

Koitetaan pitää tämä hyvin organisoituna ja tyyliluokat ja id järkevästi nimettynä (jos niitä teette)!
Jos tulee uusia tiedostoja ja komponentteja niin tehkää niillekkin uudet osionsa.

*/
/*-----------------------YLEISLUOKKIA---------------------*/
.addBorder {
    border: 1px solid black;

}

.addMargin {
    margin: 5px;
}


/*-----------------------LOGIN---------------------*/



/*-----------------------REGISTRATION---------------------*/


* {font-family: 'Open Sans', sans-serif;}
body {background-color: #fff;}



form {
  width: 450px;
  margin-left:auto;
  margin-right:auto;
  padding: 25px 35px;
  background-color: #555;
  border-radius: 15px;
  border: 1px solid #000;
}

fieldset {
  padding: 0px 10px 10px 10px;
  margin: 0 0 20px;
  border: 1px solid #000;
  background: #e0e0e0;
  border-radius: 10px;
}

legend {
  color: #ffffff;
  background: #53949c;
  font-weight: 800;
  text-align: left;
  padding: 3px;
  width: 40%;
  border: 1px solid #000;
  border-radius: 5px;
  font-family: 'Dosis', sans-serif;
 }

#nappi {
  color: #ffffff;
  background: #53949c;
  font-weight: 800;
  text-align: center;
  padding: 3px;
  width: 100px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 5px;
  font-family: 'Dosis', sans-serif;
 }



label {
  display: block;
  float: left;
  clear: left;
  text-align: left;
  width: 100%;
  padding: .3em 0 0 0;
  margin: .13em 0 0 0;
}

footer {
	text-align: center;
	color: #666;
	margin-top: 6px;
}

#image_esikatselu {
    max-width: 70%;

}


/* Placeholderin pohjavÃ¤ri*/
::-webkit-input-placeholder {
   color: blue;border: 1px solid black;
}

:-moz-placeholder { /* Firefox 18- */
   color: blue;  border: 1px solid black;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: blue;  border: 1px solid black;
}

:-ms-input-placeholder {  
   color: blue; border: 1px solid black; 
}

/* Punaiset ulkoreunat pois pakollisilta kentiltÃ¤ siinÃ¤ tilassa
   kun syÃ¶tetyt arvot ovat vielÃ¤ kelvottomat */
:invalid {box-shadow: none;}
:-moz-submit-invalid {box-shadow: none;}
:-moz-ui-invalid {box-shadow:none;}

/* Pakollisten kenttien muut muotoilut */
:required {
margin: 0;
padding: 1px;
border: 1px solid #fff;
}

/*-----------------------HOME---------------------*/


/*-----------------------CONTAINER---------------------*/


/*-----------------------NAVBAR---------------------*/

#navBar {
    /*background: #f8f8f8;* alkup. background*/
    background: transparent;
    border: none;
}


#nav-dropdown-2 {
    /*Tehdään iconista pyöreä*/
    border-radius: 60px;
}

/*-----------------------PROFILE---------------------*/

